* {
	Box-sizing: border-box;
	font-family: monaco;
	
}

div {
	display: flex;
}

body {
	background-image: url("images/snow-3161134_1920.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

nav {
	display: flex;
	background-color: #25274d;
	color: #ffffff;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	width: 100%;
}

nav button {
	margin-left: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #29648a;
	color: #ffffff;
	border-color: #2e9cca;
}

main {
	margin: 0 auto;
	width: 90%;
	flex-direction: column;
	display: flex;
	font-size: 1.5vw;
}

.about {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	padding: 25px;
	background-color: #464866;
	color: #ffffff;
	border-radius: 10px;
}

.about div {
	flex-direction: row
	justify-content: space-between;
}

h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}
.about img {
	object-fit: scale-down;
	margin-right: 25px;
	max-width: 40%;
}

.about-projects {
	display: flex;
	flex-direction: column;
}

.projects {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	padding: 25px;
	background-color: #464866;
	color: #ffffff;
	border-radius: 10px;
}

.project-container {
	flex-direction: row;
	justify-content: space-around;
}

.project-container div {
	flex-direction: column;
	align-items: center;
}

h3 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.projects img {
	width: 100px;
	height: 100px;
	margin: 10px 0;
}

.projects button {
	padding: 10px;
	border-radius: 10px;
	background-color: #29648a;
	color: #ffffff;
	border-color: #2e9cca;
}


.contacts {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	padding: 0 25px;
	background-color: #464866;
	color: #ffffff;
	border-radius: 10px;
	align-self: center;
	width: 90%;
}

.contacts-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
	padding: 0 25px;
	border-radius: 10px;
}

.fa {
	padding: 20px;
 	font-size: 30px;
	text-align: center;
  	text-decoration: none;
  	border-radius: 10%;
  	margin: 5px;
}

.fa-envelope-square {
  	background: #dd4b39;
	color: #ffffff;
}

.fa-linkedin {
  	background: #007bb5;
  	color: #ffffff;
}

.fa-phone {
	background: green;
	color: #ffffff;
}

.fa-github-square {
	background: #000000;
	color: #ffffff;
}

.fa:hover {
  	opacity: 0.7;
}

button:hover {
    opacity: 0.7;
}


/*-----------------Media Queries---------------------*/

@media screen and (max-width: 850px) {
	.project-container {
		flex-direction: column;
		justify-content: space-between;
	}
	.about div {
		flex-direction: column;
	}
	.about-projects {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.about {
		flex-direction: column;
		width: 40%;
		font-size: 2.4vw;
	}
	.projects {
		flex-direction: column;
		width: 40%;
		font-size: 2.4vw;
	}
	.contacts {
		width: 90%;
	}
	.about img {
		object-fit: scale-down;
		max-width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.about-projects {
		flex-direction: column;
		align-items: center;
	}
	.about img {
		object-fit: scale-down;
		max-width: 100%;
	}
	.projects {
		width: 80%;
	}
	.about {
		flex-direction: column;
		width: 80%;
		padding: 20px 20px 0 20px;
		font-size: 6vw;
	}
	.project-container {
		flex-direction: column;
	}
	main {
		font-size: 6vw;
	}
	
	.contacts {
		width: 80%;
	}
	nav {
		flex-direction: column;
		padding-bottom: 10px;
	}
	h3 {
		font-size: 6vw;
	}
	/*.projects*/h2{
		font-size: 8vw;
		margin-bottom: 10px;
	}
}